* {
    /*border: 1px solid grey;*/
}

img{
    vertical-align: text-bottom;
}

html, body {
    margin: 0;
}

/*all the parent comments*/
.comment-root {
    display: flex;
    flex-direction: column;
}

/*single parent comment*/
.comment-parent {
    padding: 10px 0px 10px 0px;
}

/*reply to parent comment*/
.comment-child {
    padding-left: 20px;
}

/*first row of a comment. contains name and date*/
.comment-header {
    display: flex;
    padding-top: 10px;
}

.comment-header-item {
    padding-right: 10px;
}

.comment-header-item:first-child {
    font-weight: bold;
}

.comment-header-item:nth-child(2) {
    color:grey;
}


/*middle row of a comment. contains content*/
.comment-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.comment-body-item {
    word-break: break-word;
}


/*last row of a comment. contains like, dislike and reply button*/
.comment-footer {
    display: flex;
    color: grey;
}

.comment-footer-item {
    padding-right: 10px;

}

.comment-reply-form{
    display: flex;
}

/*actual last row of a comment containing all the replies to it*/
.comment-replies {
    border-left: 1px solid grey;

}
