/*TABLES CONTAINING DATA/////////////////////////////////////////////////////////////////////////////////////////*/
/*the header <tr> containing the column names*/
.data-table-header {
    border-bottom: solid;
    max-width: 100vw;
}

/*each row except the header*/
.data-table-row {
    border-top: 1px solid grey;
}

/*the first <td> for each column in the table, separate because we dont want a border left-right there*/
.data-table-cell-first {
    padding-right: 10px;
    /*white-space: nowrap;*/
    word-break: break-word;
    max-width: 200px;
}

/*the remaining <td> elements in the table*/
.data-table-cell {
    border-left: solid;
    padding-left: 10px;
    word-break: break-word;
    max-width: 25vw;
}

/*the td which contains the comment text*/
.comment-body {
    word-break: break-word;
}

