body, html{
    margin: 0; /*100vh creates scrollbar otherwise*/
}

.center {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
    /*border: 2px solid black;*/
}

.center-child {
    /*border: 2px solid green;*/
    text-align: center;     /* will center text in <p>, which is not a flex item */
}
