html {
    font-family: 'Merriweather', serif;
}

table {
    border-collapse: collapse;
    /*border: 2px solid black;*/
    /*text-align: right;*/
}

th, td {
    border-bottom: 2px solid black;
    /*padding-left: 20px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    padding: 10px;
}

button {
    min-width: 70px;
}

body, html{
    margin: 0; /*100vh creates scrollbar otherwise*/
}

.center {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    /*justify-content: center; !* center items vertically, in this case *!*/
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
    /*border: 2px solid black;*/
}

.center-horizontal-parent {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    align-items: center;     /* center items horizontally, in this case */
    height: 100vh;
    /*border: 2px solid black;*/
}

.input-element {
    height: 30px;
    width: 200px;
    padding: 0;
    border: 3px solid black;
    margin-right: 2px;
}
